body{
    background-color: beige;
}
.container{
    display: grid;
    height: 600px;
    width: 100%;
    background-color: cadetblue;
    border:5px solid red;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}
.row1,.row2,.row3,.row4{
    border: 1px dotted greenyellow;
}
.row1{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color:black;
    color: white;
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.row2{
    grid-column: 1/13;
    grid-row:2/13;
    background-color: rgb(15,16,17);
    height:70px;
    color:white;
    display: flex;
}
ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
}
li:hover{
    background-color: cadetblue;
}
.row3{
    grid-column:1/13;
    grid-row: 3/4;
}
.row4{
    grid-column:1/13;
    grid-row: 4/5;
    background-color: burlywood;
    display:flex;
    border:2px solid gold;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
}
.row41,.row42,.row43,.row44 {
    width:260px;
    height: 300px;
    border:1px solid red;

}
.row41{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.row411{
    display: flex;
    border:1px solid yellowgreen;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:normal;
    margin-left: auto;
    
}
.row412{
    display: flex;
    border:1px solid yellowgreen;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:normal;
    
}

.row413{
    display: flex;
    border:1px solid yellowgreen;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:normal;
    margin-left: auto;
}
.row414{
    display: flex;
    border:1px solid yellowgreen;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:normal;
    
}